
<table>
  <tr>
    <th>Project Name</th>
    <th>App Name</th>
    <th></th>
    <th></th>
  </tr>

 <%= @projects.each do |project_manager| %>
<% project_manager.applications.each do |t| %>

  <tr>
    <td><%= project_manager.project_name %></td>

   <td><%=  t.application_name %></td>
     
 <%# end %>   
    <td><%= link_to 'Show', project_manager %></td>
    <td><%= link_to 'Edit', edit_project_manager_path(project_manager) %></td>
    <td><%= link_to 'Destroy', project_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
  
</table>

<br />

<%= link_to 'New Project manager', new_project_manager_path %>