	<div id="side-contentform">   
		 <h2 class="Title4">Create an App from Scratch</h2>
   	<%= simple_form_for @project_manager do |f| %>
 		<%= f.input :project_name, :hint=>" Max of 10 Characters" %>
	 <%= f.fields_for :applications do |builder| %>
	 	<%= builder.input :application_name, :hint=>"Max of 15 Characters" %>
	 <% end %>
	 <div class = "button-app">
 		<%= f.submit "Create App" %>
 	</div>
	<% end %>
</div>
 

