<h2 class="Title3">Your Apps</h2>

 <div>

    <%= form_tag project_managers_path, :method => 'get' do %>     
    <p>        
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>    
   </p>
   <% end %>
</div>

<div class="Table">
<table class="hovertable">

<% @project_managers.each do |project_manager| %>
  
    <div class="row-fluid">
    
    <%#= link_to image_tag()%> 

    
    <% for application in @project_manager.applications %>
    <% project_manager.applications.each do |t| %>
    <td></td>
    <td>ID ::<%= project_manager.id %> </td>
     <td>Application Name:: <%=  t.application_name %></td>
     <tr></tr>
     <% end %>
    <% end %></br>
     
     <td>Project Name:: <%= project_manager.project_name %></td></br> 
      <div class="data-actions" >
     <td>App Created On:: <%= project_manager.created_at.strftime('%d/%m/%Y') %> </td>
     
     <td><%= link_to raw("<i class='icon-edit'></i> Edit"), edit_application_path(:id => project_manager.applications.first.id) %> <!-- Has Many --> |
     <%= link_to raw("<i class='icon-trash'></i> Delete"), project_manager, method: :delete, :data => { :confirm => "Are you sure you want to delete ?" } %> |
     <%= link_to raw("<i class='icon-ok-sign'></i> Publish") %> |
     <%= link_to raw("<i class='icon-download'> </i> Clone") %>  |
     <%= link_to raw("<i class='icon-tasks'></i> Test") %> </br></td>
    </div>
    <% end %>
    </table>
    
    
</div> </br>
    <div class="pagination">
       <%= will_paginate @project_managers %>
    </div>

     <%#= link_to raw("<i class='icon-edit'></i> Edit"), new_application_path(@project_manager.id) %> 
     <%#= link_to raw("<i class='icon-edit'></i> Edit"), edit_project_manager_application_path(application.id) %>
          <%#= link_to raw("<i class='icon-edit'></i> Edit"), new_application_path(:project_manager_id => project_manager.id) %>
