

<h2 class="Title4">Listing project_managers</h2>

<div class="Table">

<table class="hovertable">
  <tr>
    <th>Id</th>
    <th>Project Name</th>
    <th>App Name</th>
    <th>Created On</th>
    <th>Controls</th>

  </tr>

  
<% @project_managers.each do |project_manager| %>
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
    <td><%= project_manager.id %></td>
    <td><%= project_manager.project_name %></td>
    <td>
    <% for application in @project_manager.applications %>
    <% project_manager.applications.each do |t| %>
     <%=  t.application_name %>
     <% end %>
    <% end %></td>
    <td><%= project_manager.created_at.strftime('%d/%m/%Y') %></td>
    <td><%= link_to 'Edit', edit_project_manager_path(project_manager) %>
    <%= link_to 'Destroy', project_manager, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Publish' %></td>
  </tr>
<% end %>
</table>

<br />
</div>

<%#= link_to 'New Project manager', new_project_manager_path %>

<!-- Table goes in the document BODY -->
