<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project_manager.project_name %>
</p>
 <!--  <%# for applications in @project_manager.application %>
  <li><%= h application.application_name %></li>
  <%# end %> -->


<%= link_to 'Edit', edit_project_manager_path(@project_manager) %> |
<%= link_to 'Back', project_managers_path %>
