
<div class="ContentsForm">
	<div id ="contentform">
  <p>Select the device on which you want to run your application</p>
  <%= simple_form_for @application do |f| %>
  <%= f.input :application_name %>
  <%= f.input :version %></br></br>
  <img src="/assets/phone.jpg" width="140" height="200">
		<img src="/assets/phone.jpg" width="140" height="200">
			<img src="/assets/phone.jpg" width="140" height="200"></br>
   <%= f.input :type, :collection => ["Navi-Based","Tab-Based","View-Based"], :as => :radio %></br>
  <%= f.submit "Next"%>
<% end %>

	</div>

<div class= "sidebar">
		Supported orientation</br>

		<img src="/assets/phone.jpg" width="50" height="80">
		<img src="/assets/phone.jpg" width="50" height="80">
			<img src="/assets/phone.jpg" width="50" height="80">
			<img src="/assets/phone.jpg" width="50" height="80"></br>
	</div>
</div>
