<%= simple_form_for @application do |f| %>

  <div class="actions">
    <%= f.input :attach_file_name %><br>
Upload FIle: <%= f.file_field :attach %><br>
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
